.navbar-brand {
    background: url("../images/2019-symlogo-h-4c-bn.svg") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 250px;
}

.navbar-brand-light {
    background: url("../images/2019-symlogo-h-4c.svg") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 250px;
}